body {
 font-family: helvetica;
 background-color: rgb(244, 248, 249);
 background-image: url("space.jpg");
 }

.container {
  background-color: rgb(255, 255, 255);
  border: rgb(225, 232, 237);
  width: 900px;
  height: 600px;
  padding: 50px;
  margin: auto;
  border: 3px solid rgb(225, 232, 237);
  border-radius: 30px;
 }

.form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
 }

.forminput {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
 }

.forward {
  position: inherit;
  background-color: gray;
  border-color: gray;
  font-size: 2em;
  top:  100px;
  left: 180px;
  bottom: 70px;
  right: 10px;
  padding: 0px;
}

.backward {
  position: inherit;
  background-color: gray;
  border-color: gray;
  font-size: 2em;
  top:  100px;
  left: 180px;
  bottom: 70px;
  right: 10px;
  padding: 0px;
  float: right;
}

.left {
  position: relative;
  background-color: gray;
  border-color: gray;
  font-size: 2em;
  top:  500px;
  left: -140px;
  bottom: 70px;
  right: 10px;
  padding: 0px;
}

.right {
  position: relative;
  background-color: gray;
  border-color: gray;
  font-size: 2em;
  top:  500px;
  left: 120px;
  bottom: 70px;
  right: 10px;
  padding: 0px;
  float: right;
}

.discription {
  color: #4c4a37;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  line-height: 48px;
  margin: 0 0 24px;
}

.wrapper {
 text-align: center;
}

.button {
 position: inherit;
 top: 100%;
 border: 2px solid rgb(85, 172, 238);
}
